
@{
  Layout = null;
}

@using YeniProje.App_Classes;
@using YeniProje.Models;
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="/Content/assets/images/required/ico/favicon.ico">
    <title>Tozlu Raflar</title>
    <meta name="description" content="Here goes description" />
    <meta name="author" content="author name" />
    <link rel="shortcut icon" href="images/favicon.ico" type="image/x-icon" />
    <!-- Fav and touch icons -->
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="/Content/assets/images/required/ico/apple-touch-icon-144-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="/Content/assets/images/required/ico/apple-touch-icon-114-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="/Content/assets/images/required/ico/apple-touch-icon-72-precomposed.png">
    <link rel="apple-touch-icon-precomposed" href="/Content/assets/images/required/ico/apple-touch-icon-57-precomposed.png">
    <link rel="shortcut icon" href="/Content/assets/images/required/ico/favicon.png">
    <title>Tozlu Raflar-@ViewBag.Title</title>
    <!-- Required CSS Files -->
    <link type="text/css" href="/Content/assets/css/required/bootstrap/bootstrap.min.css" rel="stylesheet">
    <link href='http://fonts.googleapis.com/css?family=Roboto:400,300&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
    <link type="text/css" href="/Content/assets/js/required/jquery-ui-1.11.0.custom/jquery-ui.min.css" rel="stylesheet" />
    <link type="text/css" href="/Content/assets/js/required/jquery-ui-1.11.0.custom/jquery-ui.structure.min.css" rel="stylesheet" />
    <link type="text/css" href="/Content/assets/js/required/jquery-ui-1.11.0.custom/jquery-ui.theme.min.css" rel="stylesheet" />
    <link type="text/css" href="/Content/assets/css/required/mCustomScrollbar/jquery.mCustomScrollbar.min.css" rel="stylesheet" />
    <link type="text/css" href="/Content/assets/css/required/icheck/all.css" rel="stylesheet" />
    <link type="text/css" href="/Content/assets/fonts/metrize-icons/styles-metrize-icons.css" rel="stylesheet">
    <!-- Optional CSS Files -->
    <link type="text/css" href="/Content/assets/css/optional/timeline/component.css" rel="stylesheet" />
    <!-- add CSS files here -->
    <!-- More Required CSS Files -->
    <link type="text/css" href="/Content/assets/css/styles-core.css" rel="stylesheet" />
    <link type="text/css" href="/Content/assets/css/styles-core-responsive.css" rel="stylesheet" />
    <!-- Optional CSS Files -->
    <link type="text/css" href="/Content/assets/css/demo-files/pages-timeline.css" rel="stylesheet" />
    <link type="text/css" href="/Content/assets/css/demo-files/pages-profile.css" rel="stylesheet" />
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="assets/js/required/misc/ie10-viewport-bug-workaround.js"></script>
    <!--[if IE 7]>
    <link type="text/css" href="assets/css/required/misc/style-ie7.css" rel="stylesheet">
    <script type="text/javascript" src="assets/fonts/lte-ie7.js"></script>
    <![endif]-->
    <!--[if IE 8]>
    <link type="text/css" href="assets/css/required/misc/style-ie8.css" rel="stylesheet">
    <![endif]-->
    <!--[if lte IE 8]>
    <script type="text/javascript" src="assets/css/required/misc/excanvas.min.js"></script>
    <![endif]-->
    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->

    @RenderSection("head", false)
</head>
<body>
    <div class="container-fluid">

        <!-- START Header Container -->
        <div id="header-container">

            <div class="header-bar navbar navbar-inverse" role="navigation">
                <!-- NOTE TO READER: Accepts the following class(es) "navbar-fixed-top" class -->
                <div class="container">
                    <div class="navbar-header">
                        <!-- START logo -->


                        <div class="header-info">

                            <div class="header-profile">
                                <!-- NOTE TO READER: Accepts the following class(es) "animate" class -->
                                <ul class="header-profile-menu">
                                    <li>
                                        <a href="#" class="top">
                                            <span class="header-profile-menu-icon">

                                            </span>
                                            <span class="main-menu-text">
                                                Hoşgeldin
                                                @System.Globalization.CultureInfo.CurrentCulture.TextInfo.ToTitleCase(User.Identity.Name)
                                                <i class="icon icon-arrow-down-bold-round icon-size-small"></i>
                                            </span>
                                        </a>
                                        <ul>
                                            <li>
                                                <a href="/Uye/girisYap">
                                                    <span aria-hidden="true" class="icon icon-arrow-curve-right"></span>
                                                    <span class="main-text">Giriş Yap</span>
                                                </a>
                                            </li>

                                            <li>
                                                <a href="/Uye/CikisYap">
                                                    <span aria-hidden="true" class="icon icon-arrow-curve-right"></span>
                                                    <span class="main-text">Çıkış Yap</span>
                                                </a>
                                            </li>

                                        </ul>
                                    </li>
                                </ul>
                            </div>
                            <div class="header-profile">
                                <!-- NOTE TO READER: Accepts the following class(es) "animate" class -->
                                <ul class="header-profile-menu">
                                    <li>
                                        <a href="#" class="top">
                                            <span class="header-profile-menu-icon">

                                            </span>
                                            <span class="main-menu-text">
                                                Sepetim@{

                                                    int adet = 0;
                                                    Sepet s = new Sepet();
                                                    if (Session["AktifSepet"] != null)
                                                    {
                                                        s = (Sepet)Session["AktifSepet"];
                                                        adet = s.Kitap.Count;
                                                    }


                                                }
                                                (@adet)
                                                <i class="icon icon-arrow-down-bold-round icon-size-small"></i>
                                            </span>
                                        </a>
                                        <ul>
                                            @if (s.Kitap.Count > 0)//sepet boş değilse
                                            {
                                                foreach (Kitap k in s.Kitap)//if @ile başladığı için tekrardan foreach başına @yazmaya gerek yok
                                                {
                                                    <li>
                                                        <a href="/Urun/UrunDetay?id=@k.kitapID ">
                                                            <span aria-hidden="true" class="icon icon-arrow-curve-right"></span>
                                                            <span class="main-text">@k.ad</span>
                                                        </a>
                                                    </li>
                                                }

                                                <li>
                                                    <a href="/Kitap/SepetDetay">
                                                        <span aria-hidden="true" class="icon icon-arrow-curve-right"></span>
                                                        <span class="main-text" >Sepete Git </span>
                                                    </a>
                                                </li>
                                            }
                                        </ul>
                                    </li>
                                </ul>
                            </div>

                            

                            
                            
                        </div>
                        <!-- END logo -->
                        <!-- START Mobile Menu Toggle -->
                        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        <!-- END Mobile Menu Toggle -->
                        <!-- START Header Info Container -->
                        <div class="header-info">
                            <!-- START Header User Profile -->
                            <!-- END Header User Profile -->



                        </div>
                        <!-- END Header Info Container -->
                    </div>
                </div>
            </div>
        </div>


        <div class="mainnav-horizontal-outer">
            <div id="mainnav-horizontal-inner" class="">
                <!-- NOTE TO READER: Accepts the following class(es) "menu-text-only", "fixed" class -->
                <div id="mainnav-horizontal">
                    <ul class="mainnav-horizontal">
                        <!-- NOTE TO READER: Accepts the following class(es) "animate" class -->
                        <li class="menu-item-top">
                            <a href="/Home/Index" class="top">
                                <span class="main-menu-icon">
                                    <span aria-hidden="true" class="icon icon-arrow-right-bold-round icon-size-small"></span>
                                </span>
                                <span class="main-menu-text">Anasayfa</span>
                            </a>
                        </li>
                        <li class="menu-item-top">
                            <a href="/Kitap/List" class="top">
                                <span class="main-menu-icon">
                                    <span aria-hidden="true" class="icon icon-arrow-right-bold-round icon-size-small"></span>
                                </span>
                                <span class="main-menu-text">Kitaplar</span>
                            </a>
                        </li>


                        @if (User.IsInRole("Admin"))
                        {
                            <li class="menu-item-top">
                                <a href="/Home/Index" class="top">
                                    <span class="main-menu-icon">
                                        <span aria-hidden="true" class="icon icon-arrow-right-bold-round icon-size-small"></span>
                                    </span>
                                    <span class="main-menu-text">Admin Paneli</span>
                                </a>
                                <ul>
                                    <li><a href="/Kitap/Index">Kitap İşlemleri</a></li>
                                    <li><a href="/Yayınevi/Index">Yayınevi İşlemleri</a></li>
                                    <li><a href="/Kategori/Index">Kategori İşlemleri</a></li>
                                    <li><a href="/Yazar/Index">Yazar İşlemleri</a></li>
                                    <li><a href="/Kargo/Index">Kargo İşlemleri</a></li>
                                    <li><a href="/Kullanıcı/Index">Üye İşlemleri</a></li>
                                    <li><a href="/Rol/Index">Rol İşlemleri</a></li>

                                </ul>

                            </li>
                        }


                        @if (User.IsInRole("Satıcı") || User.IsInRole("Admin"))
                        {
                            <li class="menu-item-top">
                                <a href="/Home/Index" class="top">
                                    <span class="main-menu-icon">
                                        <span aria-hidden="true" class="icon icon-arrow-right-bold-round icon-size-small"></span>
                                    </span>
                                    <span class="main-menu-text">Satıcı Paneli</span>
                                </a>
                                <ul>
                                    <li><a href="/Kitap/Index">Kitap İşlemleri</a></li>
                                    <li><a href="/Yayınevi/Index">Yayınevi İşlemleri</a></li>
                                    <li><a href="/Kategori/Index">Kategori İşlemleri</a></li>
                                    <li><a href="/Yazar/Index">Yazar İşlemleri</a></li>


                                </ul>
                            </li>
                        }

                        <li class="menu-item-top">
                            <a href="/Home/Contact" class="top">
                                <span class="main-menu-icon">
                                    <span aria-hidden="true" class="icon icon-arrow-right-bold-round icon-size-small"></span>
                                </span>
                                <span class="main-menu-text">İletişim</span>
                            </a>
                        </li>
                        <li class="menu-item-top">
                            <a href="/Home/About" class="top">
                                <span class="main-menu-icon">
                                    <span aria-hidden="true" class="icon icon-arrow-right-bold-round icon-size-small"></span>
                                </span>
                                <span class="main-menu-text">Hakkımızda</span>
                            </a>
                        </li>
                  
                        
                    </ul>
                    
                    


                </div>
            </div>
        </div>
        <!-- END Header Container -->
        <div id="body-container">

            <div id="right-column">
                <div class="right-column-content">
                    @RenderBody()

                </div>
                <div id="footer-container">
                    <div class="footer-content">
                        &copy; <a href="#?ref=Base5Builder">Circloid</a> was made with <span style="obliquecolor:#FF0000;">&#10084;</span> and supported by - <a href="http://base5builder.com/" target="_blank" style="font-weight:300;color:#ffffff;background:#1d1d1d;padding:0 3px;">Base<span style="color:#ffa733;font-weight:bold">5</span>Builder</a>
                    </div>
                </div>
            </div>
        </div>
    </div><!-- /.container -->
    <!-- Placed at the end of the document so the pages load faster -->
    <!-- Required JS Files -->
    @RenderSection("body", false)
    <script type="text/javascript" src="/Content/assets/js/required/jquery-1.11.1.min.js"></script>
    <script type="text/javascript" src="/Content/assets/js/required/jquery-ui-1.11.0.custom/jquery-ui.min.js"></script>
    <script type="text/javascript" src="/Content/assets/js/required/bootstrap/bootstrap.min.js"></script>
    <script type="text/javascript" src="/Content/assets/js/required/jquery.easing.1.3-min.js"></script>
    <script type="text/javascript" src="/Content/assets/js/required/jquery.mCustomScrollbar.min.js"></script>
    <script type="text/javascript" src="/Content/assets/js/required/misc/jquery.mousewheel-3.0.6.min.js"></script>
    <script type="text/javascript" src="/Content/assets/js/required/misc/retina.min.js"></script>
    <script type="text/javascript" src="/Content/assets/js/required/icheck.min.js"></script>
    <script type="text/javascript" src="/Content/assets/js/required/misc/jquery.ui.touch-punch.min.js"></script>
    <script type="text/javascript" src="/Content/assets/js/required/circloid-functions.js"></script>
    <!-- Optional JS Files -->
    <script type="text/javascript" src="/Content/assets/js/optional/circloid-functions-optional.js"></script>
    <script type="text/javascript" src="/Content/assets/js/optional/flot/jquery.flot.min.js"></script>
    <script type="text/javascript" src="/Content/assets/js/optional/flot/jquery.flot.JUMlib.min.js"></script>
    <script type="text/javascript" src="/Content/assets/js/optional/flot/jquery.flot.resize.min.js"></script>
    <script type="text/javascript" src="/Content/assets/js/optional/flot/jquery.flot.tooltip.min.js"></script>
    <script type="text/javascript" src="/Content/assets/js/optional/flot/jquery.flot.pie.min.js"></script>
    <script type="text/javascript" src="/Content/assets/js/optional/flot/jquery.flot.stack.min.js"></script>
    <script type="text/javascript" src="/Content/assets/js/optional/flot/jquery.flot.time.min.js"></script>
    <script type="text/javascript" src="/Content/assets/js/optional/flot/jquery.flot.orderBars.js"></script>
    <!-- add optional JS plugin files here -->
    <!-- REQUIRED: User Editable JS Files -->
    <script type="text/javascript" src="/Content/assets/js/script.js"></script>
    <!-- add additional User Editable files here -->
    <!-- Demo JS Files -->
    <script type="text/javascript" src="/Content/assets/js/demo-files/pages-profile-admin.js"></script>

    @RenderSection("script", false)
    

</body>
</html>
