
@{
    ViewBag.Title = "Index";
}

@using YeniProje.Models

@model List<Yayınevi>

@section body{
    <div class="modal fade small-modal" id="small-modal" tabindex="-1" role="dialog" aria-labelledby="small-modal-label" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content" data-border-top="multi">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title" id="small-modal-label">Kategori Sil</h4>
                </div>
                <div class="modal-body">
                    <p class="mesaj"></p>
                    <p class="hata"></p>

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">İptal</button>
                    <button type="button" class="btn btn-danger ysil">Evet</button>
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div>

    <div class="modal fade" id="UpdateScreen" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title" id="myModalLabel">Yayınevi Güncelleme</h4>
                </div>
                <div class="modal-body">
                    <div class="form-group">

                        <label style="font-weight:bold"> Yayınevi Adı </label>
                        <input id="Uad" class="form-control" style="width:unset;" type="text" name="ad" />
                    </div>
                    <div class="form-group">
                        <label style="font-weight:bold"> Adres </label>
                        <input id="Uadres" class="form-control" style="width:unset;" type="text" name="adres" />
                    </div>

                    <div class="form-group">
                        <label style="font-weight:bold"> Telefon Numarası</label>
                        <input id="Utel" class="form-control" style="width:unset;" type="text" name="telno" />
                    </div>


                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">İptal</button>
                    <button type="button" id="yGuncel" class="btn btn-danger yGuncelle" onclick="TakeVal();">Güncelle</button>
                </div>
            </div>
        </div>
    </div>
}


<div class="col-md-12">
    <div class="block">
        <div class="block-heading">
            <div class="main-text h2">
                Yayınevi Listesi
            </div>
            <div class="block-controls">

                <span aria-hidden="true" class="icon icon-arrow-down icon-size-medium block-control-collapse"></span>
                <a href="/Yayınevi/Ekle" class="btn btn-info">Yayınevi Ekle</a>
            </div>


        </div>
        <div class="block-content-outer">
            <div class="block-content-inner">
                <table class="table table-striped table-hover">
                    <thead>
                        <tr>
                            <th>Yayınevi Adı</th>
                            <th>Adres</th>
                            <th>Telefon Numarası</th>
                            @if (User.IsInRole("Admin"))
                            {
                                <th>Sil</th>
                                <th>Güncelle</th>
                            }
                        </tr>
                    </thead>
                    <tbody>

                        @foreach (Yayınevi y in Model)
                        {
                        <tr>

                            <td>@y.ad</td>
                            <td>@y.adres</td>
                            <td>@y.telno</td>


                            @if (User.IsInRole("Admin"))
                            {
                                <td>
                                    <button class="btn btn-danger yasil" data-toggle="modal" data-target="#small-modal" data-yadi="@y.ad" data-id="@y.yayıneviID">Sil</button>

                                </td>

                                <td><button class="btn btn-primary GuncelmodalAc" data-toggle="modal" data-target="#UpdateScreen" data-yadi="@y.ad" data-id="@y.yayıneviID" data-adres="@y.adres" data-telno="@y.telno">Güncelle </button></td>
                            }


                        </tr>

                        }

                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

@section script{
    <script src="~/Content/assets/js/required/jquery-1.11.1.min.js"></script>
    <script>
        $(".yasil").click(function () {
            var KtgAdi = $(this).data("yadi");
            $(".modal-body>p.mesaj").html(KtgAdi + " yayınevi silinsin mi?");
            var id = $(this).data("id");
            $(".ysil").data("id", id);
        });

        $(".ysil").click(function () {
            var id = $(this).data("id");
            $.ajax({
                type: "POST",
                url: "/Yayınevi/Sil/" + id,
                success: function (durum) {
                    if (durum == "başarılı") {
                        window.location.replace("/Yayınevi/Index");
                    }
                    else {
                        $("modal-body>p.hata").html("Yayınevi silinirken bir hata oluştu!!!");
                    }
                }
            });
        });


         $(".GuncelmodalAc").click(function () {
            var ktgAdi = $(this).data("yadi");
             var Aciklama = $(this).data("adres");
             var tel = $(this).data("telno");


             $("#Uad").val(ktgAdi);
             $("#Uadres").val(Aciklama);
             $("#Utel").val(tel);



            var id = $(this).data("id");
            var ad = $(this).data("yadi");
             var Aciklama1 = $(this).data("adres");
             var tel1 = $(this).data("telno");


            $(".yGuncelle").data("id", id);
            $(".yGuncelle").data("yadi", ad);
             $(".yGuncelle").data("adres", Aciklama1);
             $(".yGuncelle").data("telno", tel1);



        });


        function TakeVal()
        {
            var id = $('.yGuncelle').data("id");
            var ad = $("#Uad").val();
            var Aciklama1 = $("#Uadres").val();
            var tel1 = $("#Utel").val();


            $.ajax({
                type: "POST",
                url: "@Url.Action("Guncelle", "Yayınevi")", //burada controllerdaki Guncelle kısmını geçiş yapıyorum.
                data: { id: id, ad: ad, Aciklama1: Aciklama1, tel1: tel1 },
                success: function (durum) {
                    if (durum == "guncellendi") {
                        window.location.replace("/Yayınevi/Index");

                    }
                    else {
                        $(".modal-body>p.hata").htm("Yayınevi güncelleme anında bir hata oluştu...");

                    }
                }

            });
        }

    </script>

}

