
@{
    ViewBag.Title = "SepetDetay";
}



@using YeniProje.Models
@model List<Kitap>

<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">
<div class="row bootstrap snippets">

    <div class="clearfix visible-sm"></div>

    <!-- Cart -->
    <div class="col-lg-9 col-md-9 col-sm-12">
        <div class="col-lg-12 col-sm-12">
            <h3>Sepetteki Ürünler</h3>
            <br />
        </div>
        <div class="col-lg-12 col-sm-12 hero-feature">
            <div class="table-responsive">
                <table class="table table-striped table-hover">
                    <thead>
                        <tr>
                            <td>Fotoğraf</td>
                            <td>Kitap Adı</td>
                            <td>Kategori</td>
                            <td>Yayınevi</td>
                            <td class="td-qty">Adet</td>
                            <td>Fiyat</td>

                           
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            @foreach (Kitap ktp in Model)
                            {


                                <td class="hidden-xs">
                                    <a href="#">
                                        <img src="@ktp.Resim.FirstOrDefault().OrtaYol" alt="Age Of Wisdom Tan Graphic Tee" title="" width="47" height="47">
                                    </a>
                                </td>
                                <td>
                                    <a href="/Kitap/KitapDetay/?id=@ktp.kitapID &adi=@ktp.ad">@ktp.ad</a>
                                </td>
                                <td>
                                    <a>@ktp.Kategori.ad</a>
                                </td>
                                <td>@ktp.Yayınevi.ad</td>
                                <td>
                                    <div class="input-group bootstrap-touchspin"><span class="input-group-btn"><button class="btn btn-default bootstrap-touchspin-down" type="button">-</button></span><span class="input-group-addon bootstrap-touchspin-prefix" style="display: none;"></span><input type="text" name="" value="1" class="input-qty form-control text-center" style="display: block;"><span class="input-group-addon bootstrap-touchspin-postfix" style="display: none;"></span><span class="input-group-btn"><button class="btn btn-default bootstrap-touchspin-up" type="button">+</button></span></div>
                                </td>
                                <td class="price">$ @ktp.fiyat</td>
                            

                            }
                        </tr>


                    </tbody>

                </table>

            </div>
            <div class="btn-group btns-cart">
                <a type="button" href="/Kitap/List" class="btn btn-primary"><i class="fa fa-arrow-circle-left"></i> Alışverişe Devam Et</a>

            </div>

        </div>
    </div>
    <!-- End Cart -->
</div>
